<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="script">
    <script th:if="${desktopHeartbeatEnabled}" th:inline="javascript">
        /*<![CDATA[*/
        (function () {
            var token = /*[[${desktopSessionToken}]]*/ '';
            var intervalMs = /*[[${desktopHeartbeatIntervalMs}]]*/ 5000;
            var path = /*[[@{/internal/desktop-heartbeat}]]*/ '/internal/desktop-heartbeat';
            if (!token) {
                return;
            }
            function send() {
                fetch(path, {
                    method: 'POST',
                    headers: { 'X-Factory-Monitor-Token': token },
                    credentials: 'same-origin'
                }).catch(function () {});
            }
            send();
            setInterval(send, intervalMs);
        })();
        /*]]>*/
    </script>
</th:block>
</html>
